# Godot 4+

.import/
.godot/

# Imported assets
*.import

# Exported builds
/build/
export.cfg
export_presets.cfg

# Mono / C# builds
.mono/
data_*/

# OS files
.DS_Store
Thumbs.db

# Editor temp files
*~
*.tmp

# Logs
*.log

# IDE
.vscode/
.idea/

# Debug symbols
*.pdb

# Godot editor settings
editor_layout.cfg
editor_settings.tres

*.uid